<div [formGroup]="form">
	<label for="password">Password</label>
	<input type="password" formControlName="password" id="password" />
	<div *ngIf="passwordControl.touched && passwordControl.hasError('required')" class="error">
		Password is required !
	</div>


	<label for="confirm-password">Confirm password</label>
	<input type="password" formControlName="confirmPassword" id="confirm-password" />
	<div *ngIf="confirmPasswordControl.touched && confirmPasswordControl.hasError('required')" class="error">
		Confirm password is required !
	</div>

	<div *ngIf="passwordControl.touched && confirmPasswordControl.touched && form.hasError('missmatch')" class="error">
		Passwords do not match
	</div>

</div>
